.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--badges);
}

.icon {
  fill: none;
  stroke: var(--main);
}

.label {
  font-weight: 500;
  font-size: 16px;
}
