:root {
  font-family: Inter, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;

  color: var(--main);
  background-color: var(--white);

  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  border-radius: 12px;
  background-color: var(--inputs);
  padding: 18px;
  width: 100%;
  height: 60px;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray);
}

.container {
  padding: 48px 64px;
}

.accentButton {
  border-radius: 200px;
  padding: 16px 40px;
  min-width: 166px;
  max-width: fit-content;
  height: 56px;
  background-color: var(--button);
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  transition: background-color 250ms linear;
}

.accentButton:hover {
  background-color: var(--button-hover);
}

.button {
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  max-width: fit-content;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  transition: border 250ms linear;
}

.button:hover {
  border: 1px solid var(--button-hover);
}
